name: Build and Push Client Image

on:
  push:
    branches: [main]
    paths: ["client/**"] # Pokreće se samo na promene u klijentu

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: katarina37
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: ./client
          file: ./client/Dockerfile.prod
          push: true
          tags: ghcr.io/katarina37/moj-client:latest
          # Ključni deo: Prosleđivanje varijabli za produkciju
          build-args: |
            VITE_API_BASE_URL=${{ secrets.VITE_API_BASE_URL }}
            VITE_FLIGHT_URL=${{ secrets.VITE_FLIGHT_URL }}
      - name: Trigger Render
        run: curl -X GET "${{ secrets.RENDER_CLIENT_DEPLOY_HOOK }}"