name: Build and Push Client Image

on:
  push:
    branches: [main]
    paths:
      - "client/**" # Workflow se pokreće samo kada menjaš fajlove u client folderu

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Client Image
        uses: docker/build-push-action@v5
        with:
          context: ./client
          file: ./client/.prod  # <-- Ovde GitHub traži tvoj specifičan fajl
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/moj-client:latest

      - name: Trigger Render Deploy
        # Ovaj secret (RENDER_CLIENT_DEPLOY_HOOK) moraš dodati u GitHub Settings
        run: curl -X GET ${{ secrets.RENDER_CLIENT_DEPLOY_HOOK }}